<!-- Date range: https://material.angular.io/components/datepicker/overview -->
<h3>Not satisified with your resume yet? Book a timeslot with our professional consultant now!</h3>
<div>
    <form method="get" [formGroup]="dateForm" (ngSubmit)="onSubmit()">
        <div>
            Start Date: <input type="date" formControlName="startDate">
            <div *ngIf="dateForm.get('startDate')?.hasError('required')">
                Start date is required.
            </div>
        </div>
        <div>
            End Date: <input type="date" formControlName="endDate">
            <div *ngIf="dateForm.get('endDate')?.hasError('required')">
                End date is required.
            </div>
        </div>
        <br>
        <button type="submit">Search</button>
    </form>
</div>
<br>
<div>
    <button type="button" (click)="skip()">Skip</button>
</div>
<div *ngIf="availableBookings$ | async as availableBookings">
    <h4>Available Time Slots:</h4>
    <div *ngFor="let b of availableBookings; let i index">
        <li>
            <button mat-button color="primary" (click)="clickBooking(b)">
                {{b.start.dateTime.value | date:'dd MMM yy: hh:mmaa'}} - {{b.end.dateTime.value | date:'shortTime'}} SGT
            </button>
        </li>
    </div>
</div>