<h2>Login</h2>
<div>
    <form method="POST" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            Email: <input type="text" formControlName="email">
            <!-- VALIDATIONS -->
            <div *ngIf="form.get('email')?.hasError('required')">
                Email is required.
            </div>
            <div *ngIf="form.get('email')?.hasError('email')">
                Enter email format.
            </div>
        </div>
        <div>
            Password: <input type="password" formControlName="password">
            <!-- VALIDATIONS -->
            <div *ngIf="form.get('password')?.hasError('required')">
                Password is required.
            </div>
        </div>
        <br>
        <div>
            <button type="submit" [disabled]="form.invalid">Login</button>
        </div>
        <div *ngIf="error">{{errorMsg}}</div>
    </form>
    <br>
</div>