<body>
    <div class="button-div">
        <button mat-button [routerLink]="['/main', userId]">
            <mat-icon>arrow_back</mat-icon>
            Back to Main
        </button>
    </div>
    <div class="list-div">
        <h2>All Your Upcoming Consultations:</h2>
        <div class="table-div" *ngIf="result.length > 0; else elseBlock">
            <table>
                <thead>
                    <th>Date</th>
                    <th>Timeslot</th>
                    <th>Link</th>
                </thead>
                <tr *ngFor="let r of result; let i = index">
                    <td>
                        {{r.starttime.value | date:'dd MMM yyyy' : '+0800'}}
                    </td>
                    <td>
                        {{r.starttime.value | date:'hh:mmaa' : '+0800'}} - {{r.endtime.value | date:'shortTime' : '+0800'}} SGT
                    </td>
                    <td>
                        <a [matTooltip]="r.meetinglink" matTooltipPosition="right" [href]="r.meetinglink">Meeting
                            Link</a>
                    </td>
                </tr>
            </table>
        </div>
        <ng-template #elseBlock>
            No consultations booked yet
            <br><br>
            <button mat-raised-button [routerLink]="['/consult', userId]">Make a Booking Now</button>
        </ng-template>
    </div>
</body>