/* You can add global styles to this file, and also import other style files */
/* @import url('../node_modules/bootstrap/dist/css/bootstrap.css'); */

html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
}
body { 
    margin: 0; 
    font-family: "Arial", sans-serif;
    /* font-family: Roboto, "Helvetica Neue", sans-serif;  */
    background-color: rgb(243, 247, 247);
    /* background-image: url("/assets/Background-image-1.png");
    background-repeat: no-repeat;
    background-size: cover; */
}