<p>Download to PDF!</p>
<!--The content below is only a placeholder and can be replaced.-->

<div class="app-container">
    <div class="app-form-content">
        <div>
            <strong>Html To PDF in Angular Application</strong>
        </div>
        <br>
        <div>
            <input type="button" value="Convert" (click)="convertToPDF()" />
        </div>
        <br>
        <div>
            <button [routerLink]="['/main', userId]">Back to Main</button>
        </div>
    </div>

    <div *ngIf="getResumeById$ | async">
        <div class="app-preview">
            <app-resumepreview id="contentToConvert"></app-resumepreview>
        </div>
    </div>
</div>