<body>

    <mat-horizontal-stepper>
        <ng-template matStepperIcon="edit" let-index="index">
            {{index+1}}
        </ng-template>
        <mat-step [completed]="true">
            <ng-template matStepLabel>Build your resume</ng-template>
        </mat-step>
        <mat-step [completed]="true">
            <ng-template matStepLabel>Book a private consultation</ng-template>
        </mat-step>
        <mat-step [completed]="true">
            <ng-template matStepLabel>Download as PDF</ng-template>
        </mat-step>
    </mat-horizontal-stepper>

    <div class="main-div" *ngIf="id && id!='undefined'; else elseBlock">
        <!--The content below is only a placeholder and can be replaced.-->
        <div class="app-container">
            <div class="download-div">
                <div class="download-div-box">
                    <br>
                    <div class="download-title-1">
                        Download as PDF now
                    </div>
                    <br>
                    <button mat-fab extended color="primary" type="button" value="Convert"
                        (click)="convertToPDF()">Convert to PDF</button>
                    <br>
                    <button mat-raised-button type="button" [routerLink]="['/main', userId]">Back to
                        Main</button>
                </div>
            </div>

            <div class="app-preview" *ngIf="getResumeById$ | async">
                <app-resumepreview id="contentToConvert"></app-resumepreview>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="no-resume-div">
            No resume to download
            <br><br>
            <button mat-raised-button [routerLink]="['/main', userId]">Go Back to Main</button>
        </div>
    </ng-template>
</body>