<div class="home-page">
    <div class="home-intro-div">
        <div class="home-intro">
            <h1>
                Your One-Stop Platform for Resumes
            </h1>
            <br>
            <span>
                Best solutions for resume creation
            </span>
            <br>
            <br>
            <button mat-fab extended [routerLink]="['/registration']">
                <mat-icon [ngStyle]="{'color':'rgb(221, 155, 173)'}">local_police</mat-icon>
                Start Your Journey Now
            </button>
        </div>
    </div>
    <div class="home-img">
        <img src="/assets/Document-Writing cropped.png" width=100% height="100%" class="home-graphic">
    </div>
</div>