<div class="resume-preview">
    <div class="resume-text">
        <div *ngIf="savedResume$ | async as r">
            <h3>{{r.fullname | titlecase}}</h3>
            <hr>
            <div *ngIf="previewUrl; else elseBlock">
                <img [src]="previewUrl" height="100">
            </div>
            <ng-template #elseBlock>
                <div *ngIf="savedImgUrl$ | async as url">
                    <img [src]="url" height="100">
                </div>
            </ng-template>
            <div *ngFor="let e of r.education">
                {{e.eName}}
                <li *ngIf="e.ePoints" [innerHTML]="e.ePoints.replaceAll('\n', '\<li>')">
            </div>
        </div>
    </div>
</div>