body {
    background-color: white;
}
.resume-preview {
    /* width: 210mm
    height: 297mm */
    /* width: 140mm;
    height: 198mm; */
    /* transform-origin: top;
    transform: scale(210/297); */
    aspect-ratio: 210 / 297;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    border: 1px solid rgb(194, 192, 192);
    /* padding: 3vh; */
    padding: 1.8vw;
    /* padding: 3cqh; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative; /* Added to position the image within this container */
    container-type: size;
}

.resume-text {
    overflow: hidden;
    flex: 1;
    /* font-size: 1.1vh; */
    font-size: 0.55vw;
    /* font-size: 1.3cqh; */
}

.resume-name { 
    /* font-size: 2vh; */
    font-size: 1vw;
    /* font-size: 2.5cqh; */
    text-align: center;
    font-weight: bold;
}

.resume-phone-email {
    text-align: center;
}

.image {
    aspect-ratio: 35 / 45; /* passport photo */
    max-height: 7vh;
    float: right;
    position: absolute;
    top: 1vh; /* Adjust to match the padding of .resume-preview */
    right: 3.7vh; /* Adjust to match the padding of .resume-preview */
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    float: right;
}

hr {
    height: 0.1vh; /* Height of hr using vh units */
    border: none; /* Remove default border */
    border-top: 1px solid gray; /* Add custom top border */
    margin: 0; /* Adjust margin as needed */
    margin-block: 0; /* Adjust margin as needed */
}

.resume-section-header {
    font-weight: bold;
}

.resume-section {
    margin-bottom: 0.6vw;
    /* margin-bottom: 1.2vh; */
}
.dummy-div {
    height: 0.1px;
}

.resume-section-additional {
    margin-top: 0.2vh;
}

.resume-section-name {
    text-align: left;
    font-weight: bold;
}

.resume-section-country {
    float: right;
    font-weight: normal;
}

.resume-section-title {
    font-style: italic;
    margin-top: 0.1vw;
    margin-bottom: 0.1vw;
    /* margin-top: 0.2vh;
    margin-bottom: 0.2vh; */
}

.resume-section-dates {
    float: right;
    font-style: normal;
}

ul {
    padding-inline-start: 0.5vw;
    /* padding-inline-start: 1vh; */
    list-style-position: outside;
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
}

li {
    margin-left: 0.5vw;
    /* margin-left: 1vh; */
}

/* @media only screen and (min-height: 1080px) {
    .resume-preview {
        padding: 2vw;
    }
    .resume-text {
      font-size: 1.32cqh;
    }
    .resume-name { 
        font-size: 2.52cqh;
    }
} */